{% extends "layouts/layout.html.twig" %}

{% set title = 'Hello World' %}

{% block content %}

    <div class="row">
        <h2 class="col s12">Hello World</h2>
        <div class="divider"></div>
    </div>

{% endblock %}